.timeline-header {
	display: block;
	height: 30px;
}

.timeline {
	border: 1px solid black;
	text-align: left;
	position: relative;
	display: flex;
	flex-direction: row;
	align-content:stretch;

	.timeline-left-bar {
		width: 150px;
		border-right: 1px solid black;
		.widget-name {
			text-align: left;
			padding: 10px;
			border-bottom: 1px solid black;

			&:last-child {
				border-bottom: 0px solid black;
			}
		}
	}

	.timeline-body {
		flex: 1;
		position: relative;
		.widget-keyframes {
			position: relative;
			width: 100%;
			height: 38px;
			border-bottom: 1px solid black;

			&:last-child {
				border-bottom-width: 0;
			}
			.widget-keyframe {
				border-bottom: 1px solid transparent;
				position: absolute;
				top: 13px;
				background: #333;
				width: 10px;
				height: 10px;
				border-radius: 50%;
			}
		}
	}
}


.context-menu {
	position: absolute;
	background: white;
	border: 1px solid black;
	.context-menu-item {
		font-size: 11px;
		padding: 10px 20px;
		cursor: pointer;
		text-align: left;
		&:hover {
			background: #ccc;
		}
	}
}