.timeline {
  border: 1px solid black; }

.timeline .timeline-left-bar {
  width: 150px;
  border-right: 1px solid black; }

.timeline .timeline-left-bar .widget-name {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid black; }

.timeline .timeline-left-bar .widget-name:last-child {
  border-bottom: 0px solid black; }
